<a href="https://colab.research.google.com/github/ParadoxFlame/Project_134/blob/main/Project_134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

data_to_load = files.upload()

Saving star_with_gravity.csv to star_with_gravity.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("star_with_gravity.csv")

df.head()

   Unnamed: 0       Star_name    Distance  Mass  Radius     Gravity
0           0             Sun    0.000016   1.0    1.00  274.269161
1           1          Sirius    8.600000   2.1    1.71  196.971800
2           2         Canopus  310.000000  15.0   71.00    0.816115
3           3  Alpha Centauri    4.400000   1.1    1.20  209.511165
4           4        Arcturus   37.000000   1.1   26.00    0.446296

In [ ]:
bools = []
for d in df.Distance:
  if d<= 100:
    bools.append(True)
  else:
      bools.append(False)

In [ ]:
is_dist = pd.Series(bools)

In [ ]:
is_dist.head()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [ ]:
star_dist = df[is_dist]

In [ ]:
star_dist.reset_index(inplace=True, drop=True)
star_dist.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296

In [ ]:
star_dist.shape

(4, 6)

In [ ]:
gravity_bool=[]
for g in star_dist.Gravity:
  if g<=350 and g>= 150:
    gravity_bool.append(True)

  else:
    gravity_bool.append(True)

In [ ]:
is_gravity = pd.Series(gravity_bool)

In [ ]:
final_stars = star_dist[is_gravity]
final_stars.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296

In [ ]:
final_stars.shape

(4, 6)

In [ ]:
final_stars.reset_index(inplace=True,drop=True)

In [ ]:
final_stars.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296

In [ ]:
final_stars.to_csv("filtered_stars.csv")